@tailwind base;
@tailwind components;
@tailwind utilities;

/* public/fonts/GeistMono.css */
@font-face {
    font-family: 'Geist Mono';
    src: url('/fonts/GeistMono-Regular.woff2') format('woff2'),
         url('/fonts/GeistMono-Regular.woff') format('woff');
    font-weight: 100 900;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Geist Sans';
    src: url('/fonts/GeistSans-Regular.woff2') format('woff2'),
         url('/fonts/GeistSans-Regular.woff') format('woff');
    font-weight: 100 900;
    font-display: swap;
  }
  

th,
td {
    border-bottom: 1px solid #ececec;
    padding: 8px;
    text-align: left;

}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    }   